.icon-list__item
    display inline-block
    text-align center
    vertical-align middle

    @media only screen and (min-width: 45em)
        display table-cell

    &:last-child
        @media only screen and (min-width: 45em)
            text-align right
            width 100%;