.button__text
    color #000
    display inline-block
    font .6875rem/1.25rem Verdana, Arial, Helvetica, sans-serif
    padding 0 .625rem
    position relative
    text-align center
    text-shadow:
        -1px 0 rgba(0, 0, 0, .25),
        0 1px rgba(255, 255, 255, .75)
    vertical-align top

    \/.button:active &
        text-shadow 0 -1px rgba(255, 255, 255, .75)
        top 1px