.rating__item
    display inline-block
    direction ltr
    font-style normal
    line-height 1
    vertical-align middle
    white-space normal

    \/.rating_state_edit &
        cursor pointer