.progress-bar__label
    bottom 0
    font bold .5625rem/.8125rem Verdana, Arial, Helvetica, sans-serif
    left 0
    position absolute
    right 0
    text-align center
    top 0
    z-index 1
