@require "mixins/*"
@require "../fonts/fonts"
@require "normalize"

$body-bg = #fff
$body-text = #000
$selection = #f8ca99

// selection
::selection
    background $selection

// body
body
    background $body-bg
    color $body-text
    font 100% Arial, Helvetica, sans-serif
    margin auto
    max-width 81.25em
    min-width 20em

main
    padding 1.25rem
    overflow-x hidden