@require "../../desktop.blocks/common/common"
@require "../../desktop.blocks/link/link"
@require "../../desktop.blocks/button"
@require "../../desktop.blocks/search"
@require "../../desktop.blocks/article-header"
@require "../../desktop.blocks/article"
@require "../../desktop.blocks/rating-box"
@require "../../desktop.blocks/rating"
@require "../../desktop.blocks/progress-bar"
@require "../../desktop.blocks/icon-list"
@require "../../desktop.blocks/figure"
@require "../../desktop.blocks/list"